---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import { OUR_BRAND } from "../utils/constants";
import FeaturedProductCarousel from "../components/FeaturedProductCarousel.astro";
import { ROUTES } from "../utils/routes";
import { Image } from "astro:assets";

const allProducts = await getCollection("products");
const featuredProducts = [
    "332662400",
    "332645900",
    "334194200",
    "114186600",
    "112671001",
    "224133800",
];
const products = allProducts
    .filter(
        (product) =>
            featuredProducts.indexOf(product.data.sku) != -1 &&
            product.data.isAvailable
    )
    .sort((a, b) => a.data.price - b.data.price);

const title = `${OUR_BRAND.NAME} | ${OUR_BRAND.MISSION}`;
const description = OUR_BRAND.DESCRIPTION;
---

<Layout title={title} description={description}>
    <div class="relative h-[92vh] w-screen overflow-hidden">
        <Image
            class="w-full h-full object-cover object-center"
            src="https://images.unsplash.com/photo-1515562141207-7a88fb7ce338?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
            alt="Elegant jewelry display"
            width={2070}
            height={1380}
            loading="eager"
            fetchpriority="high"
            decoding="async"
        />
        <!-- <img
            src="https://images.unsplash.com/photo-1515562141207-7a88fb7ce338?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
            alt="Elegant jewelry display"
            class="w-full h-full object-cover object-center"
        /> -->
        <div
            class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center text-white px-4"
        >
            <h1
                class="text-3xl sm:text-4xl md:text-6xl font-bold mb-4 text-center"
            >
                Inspire the Next Jewelry
            </h1>
            <p class="text-lg sm:text-xl md:text-2xl mb-8 text-center">
                Gold Plated Silver Jewelry for <span class="retailer-highlight"
                    >Retailers</span
                >
            </p>
            <a
                href=`${ROUTES.OVERVIEW}`
                class="bg-white text-sky-900 px-6 py-3 rounded-full text-base sm:text-lg font-semibold hover:bg-sky-100 transition duration-300"
            >
                Explore Our Collection
            </a>
        </div>
    </div>
    <Main>
        <H1 title="Featured Products" />

        <FeaturedProductCarousel products={products} />

        <div class="mt-8 mb-6 text-center">
            <a
                href=`${ROUTES.OVERVIEW}`
                class="inline-block bg-sky-900 text-white px-6 py-3 rounded-full text-base sm:text-lg hover:bg-sky-800 transition duration-300"
            >
                View All Products
            </a>
        </div>
    </Main>
</Layout>

<style>
    .retailer-highlight {
        position: relative;
        display: inline-block;
        color: #ffad30; /* Your first logo color (orange) */
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(55, 190, 238, 0.5); /* Subtle shadow using your second logo color */
        transition: all 0.3s ease;
    }

    .retailer-highlight::before,
    .retailer-highlight::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .retailer-highlight::before {
        top: -2px;
        transform-origin: left;
        background-color: #ffad30; /* Upper line in orange */
    }

    .retailer-highlight::after {
        bottom: -2px;
        transform-origin: right;
        background-color: #37beee; /* Lower line in blue */
    }

    .retailer-highlight:hover {
        color: #fff5e6; /* Change to a soft cream color on hover */
        transform: scale(1.05);
    }

    .retailer-highlight:hover::before,
    .retailer-highlight:hover::after {
        transform: scaleX(1);
    }

    .retailer-highlight:hover::before {
        transform-origin: right;
    }

    .retailer-highlight:hover::after {
        transform-origin: left;
    }
</style>
