---
import { OUR_BRAND } from "../utils/constants";
---

<footer class="bg-sky-700 text-center py-14 max-sm:py-8">
    <div class="container mx-auto flex flex-col items-center text-sky-100">
        <div class="max-w-md mx-auto text-sm mb-6">
            <p class="mb-2">
                Welcome to schedule an appointment for an on-site product
                viewing.
            </p>
            <p class="mb-2">
                <strong>No minimum order quantity required.</strong>
            </p>
            <p>For any inquiries or feedback, please feel free to contact us</p>
        </div>
        <div class="flex items-center mb-4 content-center">
            <span class="text-2xl mr-2">✆</span>
            {OUR_BRAND.CONTACT_NUMBER}
            <a
                href={`https://wa.me/${OUR_BRAND.CONTACT_NUMBER.replace(/\D/g, "")}`}
                target="_blank"
                rel="noopener noreferrer"
                class="ml-2"
            >
                <img
                    src="https://img.icons8.com/?size=100&id=16713&format=png&color=000000"
                    alt="WhatsApp"
                    class="w-5 h-5"
                />
            </a>
        </div>
        <div class="mb-4">
            <a href=`mailto:${OUR_BRAND.HELP_DESK}` class="hover:underline">
                ✉️ {OUR_BRAND.HELP_DESK}
            </a>
        </div>
        <div class="text-sky-200 text-xs">
            © {OUR_BRAND.COPYRIGHT}
            {OUR_BRAND.NAME}. All rights reserved.
        </div>
    </div>
</footer>
