---
import type { CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { OUR_BRAND } from "../utils/constants";
import H1 from "./H1.astro";
import Main from "./Main.astro";
import Pagination from "./Pagination.astro";
import ProductList from "./ProductList.astro";
import ProductFilter from "./ProductFilter.astro";

type Props = {
    title: string;
    description?: string;
    products: CollectionEntry<"products">[];
    page: number;
    totalPages: number;
    byCategory?: boolean;
};
const {
    title,
    description = OUR_BRAND.DESCRIPTION,
    products,
    totalPages,
    page,
} = Astro.props;
---

<Layout title=`${title} | ${OUR_BRAND.NAME}` description={description}>
    <Main>
        <div class="mt-10">
            <H1 title={title} />
        </div>

        <div class="mb-12">
            <Pagination page={page} totalPages={totalPages} />
        </div>

        <ProductList products={products} />

        <div class="mt-12">
            <Pagination page={page} totalPages={totalPages} />
        </div>

        <ProductFilter />
    </Main>
</Layout>
