---
import type { CollectionEntry } from "astro:content";
import { ProductUtils } from "../utils/coreUtils";
import { Image } from "astro:assets";

type Props = {
    product: CollectionEntry<"products">;
    currentOverviewURL?: string;
};

const { product } = Astro.props;

const { images, sku, unit, price, isAvailable } = product.data;

const { productType } = ProductUtils.deriveProductInfo(sku);

const currentPage = Astro.url.searchParams.get("page") || 1;
---

<article class="group transition-all duration-300 ease-in-out" id={sku}>
    <a href={`/products/${product.slug}?p=${currentPage}`}>
        <Image
            class="rounded-lg aspect-square transition-transform duration-300 ease-in-out group-hover:scale-105 group-hover:shadow-md"
            src={images[0]}
            alt={`Product Image of ${sku}`}
            width={400}
            height={400}
        />
    </a>
    <div class="text-center capitalize text-xs text-sky-900 mt-2">
        {productType}
    </div>
    <div class="text-center leading-snug">{sku}</div>
    <div class="text-center">HK${price}/{unit}</div>
    {!isAvailable && <div class="text-center text-red-500">Out of Stock</div>}
</article>
